.main-header {
  padding: 0 0 rem-calc(20) rem-calc(20);
  overflow: visible;
  position: relative;
  z-index: 90;
  background: $docker-blue;
  li > a {
    color: white;
  }
  > .row {
    margin: 0;
  }
  .logo-container {
    display: block;
    margin-top: 23px;
  }
  .logo {
    width: rem-calc(48);
    display: block;
    float: left;
    @media #{$small-only} {
      margin-left: 50px;
    }
    @media #{$medium} {
      margin-left: 50px;
    }
    @media #{$large-up} {
      margin-left: -14px;
    }
 }
 .logo-text {
   font-size: 0.875rem;
   font-weight: 400;
   line-height: 16px;
   margin: 6px 7px;
   color: white;
   float: left;
   > div:last-of-type {
     opacity: 0.7;
     font-size: 0.5em;
     font-weight: 400;
   }
 }
}

.left-off-toggle {
	position: absolute;
	left: 0.9375rem;
	top: 26px;
	z-index: 99;
  cursor: pointer;
	@media #{$large-up} {
		display: none;
	}
}

.get-started-cta {
  background-color: #86d801 !important;
  position: absolute;
  right: 0.9375rem;
  top: 22px;
  z-index: 99;
  @media #{$large-up} {
    display: none;
  }
  @media #{$small-only} {
    display: none;
  }
}
